<section>
    <div class="container-fluid">
        <div class="row bg-info justify-content-center align-items-center" style="height: 100vh">
        <div class="col-sm-10 text-center">
            <h1 class="display-2 text-capitalize"><span class="text-white font-weight-bold">InAppBrowser Options</span></h1>
            <p>
                <a id="button1" href="/screen1" class="btn btn-warning btn-lg px-4 m-3"> Supported by Android</a>
                <a id="button2" href="/screen2" class="btn btn-warning btn-lg px-4 m-3"> Supported by iOS</a>
            </p>
            <p>
                <a id="button2" href="/logout" class="btn btn-light btn-lg px-4 m-3"> Log out</a>
            </p>
            <p>
                <a href="https://github.com/apache/cordova-plugin-inappbrowser">InAppBrowser on GitHub</a>
            </p>
        </div>
        </div>
    </div>
</section>
